/*** Global Standards ***/
:root
{
    --main-text-color: #4FBC8D;
    --main-title-color: #16D4A9;

    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #cccccc;
    background-image: "./img/Mountain Cut.png";
}

h1, h2, h3, h4, h5, h6
{
    color: #000;
}

/*** General ***/
.Container
{
    width: 100%;

    padding: 20px 0;
}

/* Dropdown */
.Dropdown
{
    display: inline;
    position: relative;
}

.DropdownContent
{
    position: absolute;

    display: none;
    margin-top: 0px;
    padding: 5px;
    z-index: 1;

    border-radius: 3px;
}

.Dropdown:hover .DropdownContent
{
    display: inline;
    top: 2em;
    left: 0;
}

/** Main **/
#MainBody
{
    background-color: #162034;
    color: var(--main-text-color);
}

#MainContent
{
    position: relative;
}

#MainTitle
{
    text-align: center;
    margin: 0;

    font-family: 'Big Shoulders Text', cursive;
    font-size: 50px;
    letter-spacing: 2px;

    color: var(--main-title-color);
    text-shadow: 0 0 8px var(--main-title-color);
}

/* Contacts */
#Contacts
{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;

    padding: 10px 10px 20px 10px;

    border-radius: 10px;
    background-color: #F8C019;
    fill: #000;
}

#Contacts a:first-child svg
{
    padding: 0px 0px 7px 0px;
}

#Contacts a:last-child svg
{
    padding: 7px 0px 0px 0px;
}

/* MainNav */
#MainNav
{
    margin-left: 10px;
    margin-right: 105px;
    padding: 1px 0;
    z-index: 1;
    
    background-color: #494754;
    border-radius: 5px;
    box-shadow: 0 4px 5px #353342;
}

#MainNav ul
{
    align-content: center;
    text-align: center;
}

#MainNav li
{
    display: inline;
    text-align: center;

    padding: 0 10px;

    list-style: none;
    font-size: 25px;
    font-weight: bold;
}

/* Language Dropdown */
#LanguageDropdown
{
    margin-right: 10px;

    font-size: 25px;
    font-weight: bold;
}

.LanguageIcon
{
    width: 80px;
    height: 50px;
}

/*** Media Queries ***/

/* Mobile */
@media(max-width: 768px)
{
    #MainContent
    {
        margin: 0 2%;
    }

    #Contacts
    {
        position: static;
        width: 10%;

        padding: 2%;
    }

    #MainNav 
    {
        margin: 0 0 10px 0;
    }

    #MainNav ul
    {
        margin: 0;
        padding: 0;
    }

    #MainNav li
    {
        display: block;
        text-align: center;
        width: 100%;

        border: 3px;
        margin: 0;
        padding: 0px;

        border-color: #162034;
        border-top-style: solid;
    }

    #MainNav li:first-child
    {
        border-top-style: none;
    }

    #MainNav li:last-child
    {
        border-bottom-style: none;
    }
}